@font-face {
    font-family: "League Gothic";
    src: url(fonts/LeagueGothicRegular/LeagueGothicRegular.ttf);
}

@font-face{
    font-family: "Open Sans";
    src: url(fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face{
    font-family: "Open Sans - Extrabold";
    src: url(fonts/Open_Sans/OpenSans-ExtraBold.ttf);
}

@font-face{
    font-family: "Open Sans Light";
    src: url(fonts/Open_Sans/OpenSans-Light.ttf);
}

